In [17]:
import pandas as pd
df=pd.read_csv('insects-15.csv')
df

    abdomen  antena        class
0       2.7     5.5  saltamontes
1       8.0     9.1    chicharra
2       0.9     4.7  saltamontes
3       1.1     3.1  saltamontes
4       5.4     8.5    chicharra
5       2.9     1.9  saltamontes
6       6.1     6.6    chicharra
7       0.5     1.0  saltamontes
8       8.3     6.6    chicharra
9       8.1     4.7    chicharra
10      5.1     7.0    chicharra
11      2.0     2.0  saltamontes
12      2.0     4.0  saltamontes
13      1.5     5.0  saltamontes
14      7.0     8.0    chicharra

In [18]:
train=df.iloc[:10,:]
test=df.iloc[10:,:]

In [19]:
X_train = train.iloc[:,:-1]
X_train

   abdomen  antena
0      2.7     5.5
1      8.0     9.1
2      0.9     4.7
3      1.1     3.1
4      5.4     8.5
5      2.9     1.9
6      6.1     6.6
7      0.5     1.0
8      8.3     6.6
9      8.1     4.7

In [20]:
Y_train = train.iloc[:,-1].values.ravel()
Y_train

array(['saltamontes', 'chicharra', 'saltamontes', 'saltamontes',
       'chicharra', 'saltamontes', 'chicharra', 'saltamontes',
       'chicharra', 'chicharra'], dtype=object)

In [21]:
X_test=test.iloc[:,:-1]
X_test

    abdomen  antena
10      5.1     7.0
11      2.0     2.0
12      2.0     4.0
13      1.5     5.0
14      7.0     8.0

In [22]:
Y_test = test.iloc[:,-1].values.ravel()
Y_test

array(['chicharra', 'saltamontes', 'saltamontes', 'saltamontes',
       'chicharra'], dtype=object)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
k_values = [5, 7]

# Evaluar cada valor de k
for k in k_values:
        # Crear y entrenar el modelo KNN
        model = KNeighborsClassifier(n_neighbors=k, metric='euclidean')
        model.fit(X_train, Y_train)
        
        y_pred = model.predict(X_test)
        
        # Calcular precisión
        accuracy = accuracy_score(Y_test, y_pred)
        print(f"k={k} Precisión = {accuracy:.3f}")
        test = pd.DataFrame(test)
        test['Y_pred'] = y_pred
        print(test)

k=5 Precisión = 1.000
    abdomen  antena        class       Y_pred
10      5.1     7.0    chicharra    chicharra
11      2.0     2.0  saltamontes  saltamontes
12      2.0     4.0  saltamontes  saltamontes
13      1.5     5.0  saltamontes  saltamontes
14      7.0     8.0    chicharra    chicharra
k=7 Precisión = 1.000
    abdomen  antena        class       Y_pred
10      5.1     7.0    chicharra    chicharra
11      2.0     2.0  saltamontes  saltamontes
12      2.0     4.0  saltamontes  saltamontes
13      1.5     5.0  saltamontes  saltamontes
14      7.0     8.0    chicharra    chicharra